@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(143, 169, 191);
}

.title{
  margin-top: 50%;
  margin-left: 20%;
 
}
.icon{
  margin-top: 15ch;
  display: block;
}